@mixin clearfix {
	&:after {
		content:"";
		display:block;
		clear:both;
	}
}
/* BREAKPOINT MIXINS */
@mixin bp-small {
  @media(min-width: 480px) {
    @content;
  }
}

@mixin bp-normal {
  @media(min-width: 960px) {
    @content;
  }
}