// Colors

// Park Colors

$park-blue: #5e7f8c;
$park-white: #bfbeaa;
$park-tan: #bf9169;
$park-burnt: #8c3420;
$park-red: #401410;
// $link-color: $primary-red;
// $hover-color: $primary-orange;

// Park Ranger Colors
$ranger-green: #194038;
$ranger-grey: #8f9189;
$ranger-yellow: #edd8a2;
$ranger-tan: #d98473;
$ranger-brown: #734f43;



// // Typefaces

$body-copy: 'Libre Baskerville', serif;
$headlines: 'Josefin Slab', serif;