/* STYLES FOR FLEXBOX GRID */
.grid {
   display: flex;
   flex-flow: row wrap;

   border-bottom: 2px solid #fff;
   
   .grid__item {
   	cursor: pointer;
      display: flex;
      flex: 1 0 100%; //Give every item the same width
      -webkit-filter: sepia(75%);
	  filter: sepia(75%);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;

	  &:hover {
	  	-webkit-filter: sepia(0);
		filter: sepia(0);
	  }
      
	  &:nth-child(1) {
		 background: url("../img/cards/buffalo.jpg")no-repeat center center;
   	     background-size: cover;
	  }
	  &:nth-child(2) {
	  	 background: url("../img/cards/hiking.jpg")no-repeat center center;
   	     background-size: cover;
	  }
	  &:nth-child(3) {
	  	 background: url("../img/cards/house.jpg")no-repeat center center;
   	     background-size: cover;
	  }
	  &:nth-child(4) {
	  	 background: url("../img/cards/glacier.jpg")no-repeat center center;
   	     background-size: cover;
	  }
      &:before {
         content: "";
         //Here is where the magic happens -- gives a top padding that equals the width of the item
         padding-top: 100%; 
         display: inline-block; 
      }

  
      .grid__content {
         display: flex;
         
         //Vertical aligning content   
         align-items: center;
         justify-content: center;

         position: absolute;
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;

         padding: 25px;
      }
      
      
      @include bp-small {
         //Give item 1/2 of viewport width on smaller devices
         flex: 1 0 50%;
         
         &:nth-child(even) {
            border-left: none;
         }
      }
      
      @include bp-normal {
         //Give item 1/4 of viewport width on bigger devices
         flex: 1 0 25%;
         
         &:nth-child(4n-1) {
            border-left: none;
         }
      }
   }
}


